ion-card ion-card-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

ion-card ion-card-title {
  color: yellow;
  // font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
}
ion-card-header {
  border-bottom: 2px solid #ccc;
}
ion-card {
  width: 100%;
}