<ion-content>
  <div class="container3">
    <div class="common-title">
      <ion-title >{{ 'TRACTOR_FUEL_COST_CALCULATION' | translate }}</ion-title>
    </div>

    <div class="custom-gap"></div>
   
    <div class="top-fuel-icon_01">
      <img src="../../../assets/icon/fuel icon/tractor.png" alt="Fuel Icon" class="icon-left">
    </div>
    <div class="button-grid">
      <ion-button class="custome-button" routerLink="tractor-fuel-cost">
        {{ 'TRACTOR_FUEL_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="tractor-worked-hours">
        {{ 'TRACTOR_WORKED_HOURS' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="tractor-hour-wise-money-cost">
        {{ 'TRACTOR_HOUR_WISE_MONEY_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="tractor-fera-cost">
        {{ 'TRACTOR_FERA_COST' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
