<ion-content>
  <div class="container3">
    <div class="common-title">
      <ion-title>{{ 'JCB_FUEL_COST_CALCULATION' | translate }}</ion-title>
    </div>

    <div class="custom-gap"></div>
    <div class="top-fuel-icon_01">
      <img src="../../../assets/icon/fuel icon/JCB1.Png" style="height: 55px;" alt="Fuel Icon" class="icon-left">
    </div>
    <div class="button-grid">
      <ion-button class="custome-button" routerLink="jcb-fuel-cost">
        {{ 'JCB_FUEL_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="jcb-worked-hours">
        {{ 'JCB_WORKED_HOURS' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="jcb-hour-wise-money-cost">
        {{ 'JCB_HOUR_WISE_MONEY_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="jcb-fera-cost">
        {{ 'JCB_FERA_COST' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
