.modal-description {
  text-align: center;
  color: #e4e403;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}

.common-title ion-title {
  font-size: 20px;
  color: #e4e403;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
  
  ion-button {
    width: auto;
    max-width: 300px;
  }
}
