ion-header {
  --webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid gray;
}
.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px; /* Space between buttons */
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 20px; /* Add space below the text */
  }
  
  /* Optional: Adjust button widths */
  ion-button {
    flex: 1; /* Buttons take equal width */
    max-width: 120px; /* Limit button width */
    --box-shadow: none;
  }
  