.title {
  text-align: center;
  padding-left: 90px;
}
.container_01 {
  flex: 1;
  padding-top: 60px;
  background: linear-gradient(100deg, #402, #006);
  padding: 55px 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"), linear-gradient(80deg, #202, #006);
  background-size: 50vw auto, 100% 100%;
  z-index: 999;
}

.create-account-text {
  color: #007bff; /* Blue color like a link */
  text-decoration: underline; /* Underline effect */
  cursor: pointer; /* Pointer cursor on hover */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.create-account-text:hover {
  color: #0056b3; /* Darker blue on hover */
}

.link-text {
  color: #007bff; /* Blue color for link */
  text-decoration: underline; /* Underline for emphasis */
  cursor: pointer; /* Pointer cursor on hover */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.link-text:hover {
  color: #0056b3; /* Darker blue on hover */
}

.container3 {
  flex: 1;
  padding-top: 60px;
  background: linear-gradient(100deg, #402, #006);
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"), linear-gradient(80deg, #202, #006);
  background-size: 50vw auto, 100% 100%;
  z-index: 999;
}
// /* App Logo */
// .logo-container {
//   margin-bottom: 20px;
// }

.app-logo {
  width: 200px;
  height: 200px;
}
 
/* Title */
// .common-title ion-title {
//   font-size: 24px;
//   font-weight: bold;
//   color: yellow;
// }

 
/* Sign-In Button */
.custome-button {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(90deg, rgb(81, 77, 147) 0%, rgb(2, 163, 97) 0%, rgba(15, 138, 148, 1) 100%);
  color: white;
  border-radius: 12px;
}

/* Error Text */
.error-text {
  color: red;
  font-size: 12px;
  margin-left: 15px;
}
