ion-card ion-card-title {
    color: yellow;
    // font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    // padding: 15px;
}
.card-containt-font {
    // font-size: 12px;
    padding-top: 5px;
}
ion-card-header {
    border-bottom: 1px solid #ccc;
}
 
  .common-title ion-title {
    // color: #daff9a;
    font-family: sans-serif;
    font-weight: 700;
}
ion-card {
    width: 100%;
  }