ion-card ion-card-title {
    // color: yellow;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    color: yellow;
}

ion-card-header {
    border-bottom: 1px solid #ccc;
}
ion-card-content { 
    // text-align: center;
    padding-top: 20px;
    // color: yellow;
    font-size: 18px;
    .child-text {
        color: yellow;
        font-size: 18px;  
    }
}
// .custom-gap {
//     padding-top: 0px;
//   }
  .common-title ion-title {
    font-size: 25px;
    // color: #daff9a;
    font-family: sans-serif;
    font-weight: 700;
}
// .back {
//     position: absolute;
//     top: 50px;
// }
ion-card {
    width: 100%;
  }