ion-card ion-card-title {
    color: yellow;
    // font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 8px;
}

ion-card-header {
    border-bottom: 1px solid #ccc;
}
 
  .common-title ion-title {
    // font-size: 30px;
    // color: #daff9a;
    font-family: sans-serif;
    font-weight: 700;
}
// .back {
//     position: absolute;
//     top: 50px;
// }
ion-card {
    width: 100%;
  }