<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'JCB_HOUR_WISE_MONEY_COST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container3">
    <div class="common-title">
      <ion-title style="font-size: 20px">{{ 'JCB_HOUR_WISE_MONEY_COST_CALCULATION' | translate }}</ion-title>
    </div>

    <div class="custom-gap"></div>

    <div class="input-group">
      <label class="input-group__label">{{ 'HOURLY_RATE' | translate }}</label>
      <input type="number" class="input-group__input" [(ngModel)]="hourlyRate" />
    </div>

    <div class="input-group">
      <label class="input-group__label">{{ 'TOTAL_HOURS' | translate }}</label>
      <input type="number" class="input-group__input" [(ngModel)]="totalHours" />
      <span class="exmaple">( {{ 'EXAMPLE' | translate }} )</span>

    </div>

    <ion-button class="custome-button" (click)="calculateHourWiseCost()">
      {{ 'CALCULATE' | translate }}
    </ion-button>

     <!-- Styled Result Card -->
    <ion-card *ngIf="totalCost !== null" class="custom-gap">
      <ion-card-header>
        <ion-card-title>{{ 'RESULT' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ 'HOURLY_RATE' | translate }}: {{ hourlyRate | number:'1.2-2' }}
        <br>
        {{ 'TOTAL_HOURS' | translate }}: {{ totalHours | number:'1.2-2' }}
        <br>
        
        <ion-item-divider color="warning">
          {{ 'TOTAL_COST' | translate }}: {{ totalCost | number:'1.2-2' }}
        </ion-item-divider>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
