 

<ion-content [fullscreen]="true" class="container" >
  <!-- <div class="car-movement">
    <div class="car">🚕</div>
    <div class="bike">🏍️ </div>
    <div class="Tractor">🚜 </div>
    <div class="car2">🚗 </div>
    
  </div> -->

  <!-- <div class="top-fuel-icon">
    <img src="../../../assets/image/pmp.png" alt="Fuel Icon" >
  </div> -->
  <div class="card-grid container">
    <ion-card (click)="goToFuelCostCalculator()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/car.png" alt="Fuel Icon" class="icon-left">
          {{ 'CALCULATE_FUEL_COST' | translate }}
          <img src="../../../assets/icon/fuel icon/bike.png" alt="Fuel Icon" class="icon-left">
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="goToTractorFuelCalculator()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/tractor.png" alt="Fuel Icon" class="icon-left">
          {{ 'TRACTOR_FUEL_CALCULATOR' | translate }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="goToMiniTractorFuelCalculator()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/mini_chanedu.png" alt="Fuel Icon" class="icon-left">
          {{ 'MINI_TRACTOR_FUEL_COST_CALCULATION' | translate }}
        </ion-card-title>
        <!-- <img src="../../../assets/icon/fuel icon/mini_chanedu.png" alt="Fuel Icon" style="height: 40px;" class="icon-left"> -->
      </ion-card-header>
    </ion-card>

    <ion-card (click)="goToJcbFuelCalculator()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/JCB1.Png" style="height: 45px;" alt="Fuel Icon" class="icon-left">
          {{ 'JCB_FUEL_CALCULATOR' | translate }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="goToMore()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/more2.png" alt="Fuel Icon" class="icon-left">
          {{ 'MORE' | translate }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="goToHistory()" [style.height.px]="cardHeight">
      <ion-card-header>
        <ion-card-title class="center-content">
          <img src="../../../assets/icon/fuel icon/time-management.png" alt="Fuel Icon" class="icon-left">
          {{ 'HISTORY' | translate }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
