<ion-content>
  <div class="container3">
    <div class="common-title">
      <ion-title style="font-size: 24px">{{ 'MINI_TRACTOR_FUEL_COST_CALCULATION' | translate }}</ion-title>
    </div>

    <div class="custom-gap"></div>
    <div class="top-fuel-icon_01">
      <img src="../../../assets/icon/fuel icon/mini_chanedu.png" alt="Fuel Icon" class="icon-left">
    </div>
    <div class="button-grid">
      <ion-button class="custome-button" routerLink="mini-tractor-fuel-cost">
        {{ 'MINI_TRACTOR_FUEL_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="mini-tractor-worked-hours">
        {{ 'MINI_TRACTOR_WORKED_HOURS' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="mini-tractor-hour-wise-money-cost">
        {{ 'MINI_TRACTOR_HOUR_WISE_MONEY_COST' | translate }}
      </ion-button>

      <ion-button class="custome-button" routerLink="mini-tractor-fera-cost">
        {{ 'MINI_TRACTOR_FERA_COST' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
