<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container4">
    <ion-list *ngIf="!utilService.isLoading">
      <ion-item-sliding *ngFor="let record of records">
        <ion-card>
          <ion-card-content>
            <div class="list-container">
              <div class="badge-row">
                <span class="status-badge--neon">
                    <span class="status-dot"></span>
                    {{ (record.title || record.fuelType) | translate }}
                </span>
              </div>
              <ion-label>
                <!-- Tractor Record Fields -->
                <div *ngIf="record.calculationType === 'FUEL_COST'">
                  <p *ngIf="record.totalHours">{{ 'TOTAL_HOURS' | translate }}: {{ record.totalHours }}</p>
                  <p *ngIf="record.distance">{{ 'DISTANCE' | translate }}: {{ record.distance }} {{ 'KM' | translate }}</p>
                  <p *ngIf="record.fuelAvgPerHour">{{ 'AVERAGE' | translate }}: {{ record.fuelAvgPerHour }} {{ 'AVG_PER_HOURS' | translate }}</p>
                  <p *ngIf="record.average && !record.fuelAvgPerHour">{{ 'AVERAGE' | translate }}: {{ record.average }} {{ 'KM_PER_LITER' | translate }}</p>
                  <p>{{ 'FUEL_PRICE' | translate }}: {{ record.fuelPrice | number:'1.2-2' }} {{ 'PER_LITER' | translate }}</p>
                  <p *ngIf="record.name">Name: {{ record.name }}</p>
                  <p *ngIf="record.villageName">Village: {{ record.villageName }}</p>
                  <p *ngIf="record.mobile">Mobile: {{ record.mobile }}</p>
                  <p *ngIf="record.notes">Notes: {{ record.notes }}</p>
                  <p>{{ 'DATE' | translate }}: {{ record.date | date:'short' }}</p>
                  <h2>{{ 'FUEL_COST' | translate }}: {{ record.totalCost | number:'1.2-2' }}</h2>
                </div>

                <div *ngIf="record.calculationType === 'WORKED_HOURS'">
                  <p>{{ 'START_TIME' | translate }}: {{ record.startTime }}</p>
                  <p>{{ 'END_TIME' | translate }}: {{ record.endTime }}</p>
                  <p>{{ 'BREAK_TIME_MINUTES' | translate }}: {{ record.breakTime || 0 }}</p>
                  <p *ngIf="record.name">Name: {{ record.name }}</p>
                  <p *ngIf="record.villageName">Village: {{ record.villageName }}</p>
                  <p *ngIf="record.mobile">Mobile: {{ record.mobile }}</p>
                  <p *ngIf="record.notes">Notes: {{ record.notes }}</p>
                  <p>{{ 'DATE' | translate }}: {{ record.date | date:'short' }}</p>
                  <h2>{{ 'TOTAL_WORKED_HOURS' | translate }}: {{ record.totalWorkedHours }}</h2>
                </div>

                <div *ngIf="record.calculationType === 'HOUR_WISE_COST'">
                  <p>{{ 'HOURLY_RATE' | translate }}: {{ record.hourlyRate | number:'1.2-2' }}</p>
                  <p>{{ 'TOTAL_HOURS' | translate }}: {{ record.totalHours }}</p>
                  <p *ngIf="record.name">Name: {{ record.name }}</p>
                  <p *ngIf="record.villageName">Village: {{ record.villageName }}</p>
                  <p *ngIf="record.mobile">Mobile: {{ record.mobile }}</p>
                  <p *ngIf="record.notes">Notes: {{ record.notes }}</p>
                  <p>{{ 'DATE' | translate }}: {{ record.date | date:'short' }}</p>
                  <h2>{{ 'TOTAL_EXPENSE_COST' | translate }}: {{ record.totalCost | number:'1.2-2' }}</h2>
                </div>

                <div *ngIf="record.calculationType === 'FERA_COST'">
                  <p>{{ '1_FERA_COST' | translate }}: {{ record.distanceKm | number:'1.2-2' }}</p>
                  <p>{{ 'PER_FERA_COST' | translate }}: {{ record.costPerKm | number:'1.2-2' }}</p>
                  <p *ngIf="record.name">Name: {{ record.name }}</p>
                  <p *ngIf="record.villageName">Village: {{ record.villageName }}</p>
                  <p *ngIf="record.mobile">Mobile: {{ record.mobile }}</p>
                  <p *ngIf="record.notes">Notes: {{ record.notes }}</p>
                  <p>{{ 'DATE' | translate }}: {{ record.date | date:'short' }}</p>
                  <h2>{{ 'TOTAL_FERA_COST' | translate }}: {{ record.totalCost | number:'1.2-2' }}</h2>
                </div>
              </ion-label>
            </div>

            <div class="button-container">
              <ion-button fill="clear" class="action-button custome-button" (click)="deleteRecord(record); $event.stopPropagation()">
                <img src="../../../assets/icon/delete_4.png" alt="" height="20px">
                Delete
              </ion-button>
             <div class="button-divider"></div>

              <ion-button fill="clear" class="action-button custome-button" (click)="shareRecord(record); $event.stopPropagation()">
                <img src="../../../assets/icon/share1.png" alt="" height="20px">
                Share
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item-sliding>
    </ion-list>

    <ion-card *ngIf="!utilService.isOnline && records.length === 0">
      <ion-card-content>
        {{ 'NO_RECORDS' | translate }}
      </ion-card-content>
    </ion-card>

    <!-- Show Message if No Records Are Available -->
    <div class="no-data-message" *ngIf="!utilService.isLoading && records.length === 0">
      <p>{{ 'NO_RECORDS' | translate }}</p>
    </div>
  </div>
</ion-content>
