<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MINI_TRACTOR_FERA_COST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container3">
    <div class="common-title">
      <ion-title style="font-size: 23px">{{ 'MINI_TRACTOR_FERA_COST_CALCULATION' | translate }}</ion-title>
    </div>

    <div class="custom-gap"></div>

    <div class="input-group">
      <label class="input-group__label">{{ '1_FERA_COST' | translate }}</label>
      <input type="number" class="input-group__input" [(ngModel)]="distanceKm" />
    </div>

    <div class="input-group">
      <label class="input-group__label">{{ 'PER_FERA_COST' | translate }}</label>
      <input type="number" class="input-group__input" [(ngModel)]="costPerKm" />
    </div>

    <!-- <div class="input-group">
      <label class="input-group__label">{{ 'ADDITIONAL_CHARGES' | translate }}</label>
      <input type="number" class="input-group__input" [(ngModel)]="additionalCharges" placeholder="0" />
    </div> -->

    <ion-button class="custome-button" (click)="calculateFeraCost()">
      {{ 'CALCULATE' | translate }}
    </ion-button>

     <!-- Styled Result Card -->
    <ion-card *ngIf="totalCost !== null" class="custom-gap">
      <ion-card-header>
        <ion-card-title>{{ 'RESULT' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ '1_FERA_COST' | translate }}: {{ distanceKm | number:'1.2-2' }}
        <br>
        {{ 'PER_FERA_COST' | translate }}: {{ costPerKm | number:'1.2-2' }}
        <br>
        <!-- {{ 'ADDITIONAL_CHARGES' | translate }}: {{ additionalCharges || 0 | number:'1.2-2' }}
        <br> -->
        <ion-item-divider color="warning">
          {{ 'TOTAL_FERA_COST' | translate }}: {{ totalCost | number:'1.2-2' }}
        </ion-item-divider>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="totalCost !== null" class="custome-button custom-gap" (click)="saveRecord()">
      {{ 'SAVE' | translate }}
    </ion-button>
  </div>
</ion-content>
